body {
    font-family: Arial;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

a {
    color: #0044aa;
    text-decoration: none;
}

.logo-img img {
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.link-login-register {
    text-align: center;
    margin-top: 20px;
}

@keyframes slideFadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to   { opacity: 1; transform: scale(1); }
}
/* CSS NOTIFIKASI POPUP LOGIN */
.notification-wrapper {
    width: 70px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.notification-icon {
    height: 50px;
    background-color: #007bff;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: float 2s ease-in-out infinite;
}

.notification-popup {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease;
    width: 230px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* END CSS NOTIFIKASI POPUP LOGIN */
/* Navbar */
.navbar {
    background-color: #5381c7;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left:15%;
    padding: 10px 20px;
    user-select: none;
    white-space: nowrap;
}

.nav-title img.nav-logo {
    height: 40px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.navbar-title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-spacer {
    width: 20%;
    justify-content: right;
    align-items: right;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    margin-right: 10px;
    text-align: end;
    user-select: none;
    white-space: nowrap;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.profile-button {
    position: relative;
    background: none;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #1f5e8e;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f3f3f3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 2px;
    min-width: 150px;
    z-index: 10;
}

/*.profile-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
} */

.dropdown-menu a:hover {
    background-color: #ffffff;
}

.notifikasi-dropdown.show {
    display: block;
}

.notifikasi-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 99;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 4px;
}

.dropdown-header {
    color: #b3b3b3;
}

.dropdown-item {
    padding: 10px;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.notif-title {
    font-weight: bold;
    color: #222;
    margin-bottom: 3px;
}

.notif-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.notif-time {
    font-size: 12px;
    color: gray;
}

.notif-divider {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin: 5px 0;
}

.dropdown-footer {
    margin-top: 10px;
}

.dropdown-footer a {
    color: #0064cf;
}

.dropdown-footer a:hover {
    color: #0044aa;
}

.dot {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.notif-title {
    font-weight: 500;
}

.notif-time {
    font-size: 12px;
    color: gray;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100%;
    z-index: 90;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 5px;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: #5381c7;
    color: #fff;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    transition: width 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 20px;
}

.sidebar ul li a {
    color: #ffffffa4;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.sidebar ul li a.active {
    color: #fff;
    border-bottom: 1px solid #fffffffd;
}

/* sidebar ditutup */
body.sidebar-collapsed .sidebar {
    width: 0.5px;
}

/* sidebar ditutup */
body.sidebar-collapsed .main-content {
    margin-left: 10px;
}

.sidebar-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 0;
    transition: color 0.3s;
}

.sidebar-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
    border-radius: 1px;
}
.sidebar-link:hover {
    color: #fff;
}

.sidebar-link:hover::after {
    width: 100%;
    left: 0;
}
.sidebar-link.active {
    background-color: #007bff;
    color: #fff !important;
    border-radius: 6px;
}
.sidebar-dropdown .submenu {
    display: none;
    list-style: none;
    margin-top: 5px;
}

.sidebar-dropdown.active .submenu {
    display: block;
}

.submenu-link {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
}

.submenu-link:hover {
    color: #ddd;
}

.logout::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
    border-radius: 1px;
}

.logout:hover {
    color:rgb(255, 0, 0);
}

/* END CSS SIDEBAR */
/* Content */
.main-content {
    width: 83%;
    padding: 20px;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

/* Sidebar Toggle Button */
.menu-toggle {
    width: 35px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: #b4b4b4;
    padding: 3px;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-toggle:hover {
    color: #d3d3d3;
    border: 2px solid #d3d3d3;
}

/* card */
.card-container {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom:20px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}

.card-left {
    flex: 1;
    max-width: 250px;
    min-width: 220px;
}

.card-left .pendapatan {
    height: 178px;
}

.card-left .card-icon {
    text-align: center;
    font-size: 30px;
}

.card-right {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card umum */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    text-align: left;
    flex: 1;
    min-width: 180px;
    max-width: 250px;
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    width: 80%;
    font-size: 13px;
    margin-bottom: 8px;
    color: #000;
}

.card p.card-text {
    font-size: 20px;
    margin: 0;
    color: #000;
}

.card .card-text-pendapatan {
    text-align: center;
    margin-top: 20px;
}

.card .card-footer {
    margin-top: 20px;
    text-align: center;
}

.card-content .detail-row-akun {
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-right: 0;
    margin-top: 7px;
    gap: 10px;
    background: #007bff;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
}

.card-content .detail-row-tagihan {
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-right: 0;
    gap: 10px;
    margin-top: 7px;
    color: #fff;
    font-size: 25px;
}

.card-icon .detail-row-tagihan {
    background: #0064cf;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
}

.card-content .detail-row-tagihan .bi-database-fill {
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
}

.card-content .detail-row-tagihan .bi-database-fill-check {
    background-color: #35be40;
    padding: 10px;
    border-radius: 5px;
}

.card-content .detail-row-tagihan .bi-database-fill-exclamation {
    background-color: #f5e400;
    padding: 10px;
    border-radius: 5px;
}

.detail-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff18;
    color: #333;
    padding: 8px;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.detail-card:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* Responsive */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card-row {
        flex-direction: column;
    }

    .card-left,
    .card {
        max-width: 100%;
    }
}

/* End Card **/
/* Animasi masuk */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .card {
        min-width: 90%;
    }
}
/* Tombol Edit dan Hapus */
.btn-edit, .btn-delete {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn-edit {
    background-color: #2980b9;
    margin-right: 5px;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn-edit:hover {
    background-color: #1f5e8e;
}

.btn-delete:hover {
    background-color: #c0392b;
}

/* PR Tombol Tambah Tagihan 
.add-button {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 0 auto;
    background: none;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
}

.add-button a {
    text-decoration: none;
    padding: 8px 12px;
    color: #29bb66;
    border: 2px solid #29bb66;
    border-radius: 10px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}

.add-button a:hover {
    padding: 8px 12px;
    border-radius: 6px;
    color: #fff;
    background-color: #29bb66;
    transform: scale(1.1);
}
*/
/* Status Badge */
.badge {
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 12px;
    color: white;
    display: inline-block;
}

.badge-success {
    background-color: #2ecc71;
}

.badge-warning {
    background-color: #f39c12;
}

.badge-secondary {
    background-color: #6c757d;
}

.btn {
    padding: 6px 12px;
    margin: 2px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* Animasi slide masuk */
@keyframes slideIn {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0.95;
    }
}

/* Animasi slide keluar */
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 0.95;
    }
    100% {
        transform: translateX(-150%);
        opacity: 0;
    }
}

.custom-alert {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    opacity: 0.95;
    animation: slideIn 0.6s ease-out forwards;
}

/* Warna alert */
.alert-success {
    background: #35be40;
    color: #fff;
}
.alert-danger {
    background: #d85749;
    color: #fff;
}
/* END CSS ALERT */
/* Animasi menghilang */
@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

/* Animasi */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.table-row {
    transition: background-color 0.3s ease;
}

.table-row:hover {
    background-color: #f1f1f1;
}

/* CSS Tambah data tagihan dan Edit data Tagihan */

/* Container Form */
.form-tagihan {
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    animation: fadeSlideIn 0.6s ease;
}

/* Heading */
.form-tagihan h2 {
    text-align: center;
    color: #2c3e50;
}

.form-tagihan label {
    display: block;
    font-weight: 600;
    color: #34495e;
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
    color: #34495e;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}

.form-tagihan input,
.form-tagihan select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-tagihan input:focus,
.form-tagihan select:focus {
    border-color: #2980b9;
    outline: none;
}

/* Button Simpan */
.form-tagihan .btn-simpan {
    background-color: #2980b9;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.form-tagihan .btn-simpan:hover {
    background-color: #1f5e8e;
}

.img-create-tagihan img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.img-edit-tagihan img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

/* Tombol Kembali */
.btn-kembali {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    color: #7f8c8d;
}

.btn-kembali:hover {
    color: #2c3e50;
}
/* END CSS CREATE DATA TAGIHAN **/
/* Alert Error */
.alert-error {
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
    animation: fadeIn 0.5s ease;
}

/* Animasi */
@keyframes fadeSlideIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* End Css Filter Status **/
/* Wrapper Flex Horizontal */
.toolbar-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    height: 30px;
}

/* Tombol & Form Horizontal */
.toolbar-left {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

/* Tombol Tambah */
.button-add-group {
    position: absolute;
    margin-left: 180px;
}
.btn-addtagihan {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: transparent;
    border: 1px solid #4087f1;
    font-size: 15px;
    color: #4087f1;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.btn-addtagihan:hover {
    color: #1f5e8e;
}

.label-add-hover,
.label-FSearch-hover {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    white-space: nowrap;
    transition: 0.3s ease;
    pointer-events: none;
    z-index: 10;
}
.label-Fstatus-hover {
    position: absolute;
    margin-top: 10px;
    left: 76%;
    transform: translateX(-50%) translateY(5px);
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    white-space: nowrap;
    transition: 0.3s ease;
    pointer-events: none;
    z-index: 10;
}
.button-add-group:hover .label-add-hover,
.Filter-Status:hover .label-Fstatus-hover,
.form-search:hover .label-FSearch-hover {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Form Select */
.filter-form select.form-select {
    background-color: rgb(64, 135, 241);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 11px;
    width: 100px;
    height: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter-form select.form-select option {
    background-color: #fff;
    color: #000;
}

/* Search */
.search-form {
    display: flex;
    gap: 8px;
    align-items: center;
}
.form-search input {
    padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button-search button {
    border: none;
    background: none;
    color: #4087f1;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .toolbar-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .toolbar-left {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }
}

/* end css menu search*/
.menu-filter-riwayat {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Input month */
.input-riwayat {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    min-width: 150px;
}

/* Tooltip saat hover */
.form-filter-riwayat {
    position: relative;
}
.tooltip {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a8a8a8;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    z-index: 1;
}
.form-filter-riwayat:hover .tooltip {
    opacity: 1;
}

/* Ikon Button */
.btn-icon {
    background: none;
    border: none;
    font-size: 18px;
    color: #2980b9;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    transition: background 0.3s;
}

.btn-icon:hover {
    background: #e6f0fa;
    color: #1f5e8e;
}

/* Responsive */
@media (max-width: 768px) {
    .form-filter {
        justify-content: center;
    }

    .input-riwayat {
        width: 100%;
        max-width: 180px;
    }
}
/* END CSS button Export riwayat **/
/* CSS Button Pilih Data Riwayat **/
.btn-keloladata {
    margin: 0 auto;
    margin-left:250px;
    margin-top: 18px;
}
.pilih-data {
    position: absolute;
    margin: 0 auto;
    margin-top: -5px;
    position: absolute;
    width: 60px;
    background: none;
    font-size: 20px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.pilih {
    color: #fff;
    background: #2878b6;
}
.pilih:hover {
    background: #1f5e8e;
}
.btn-pilih-riwayat {
    position: absolute;
	display: flex;
}
.label-pilih-hover {
    position: absolute;
    top: 31px;
    left: 27px;
    transform: translateX(-50%);
    margin-top: 6px;
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 999;
}
.btn-pilih-riwayat:hover .label-pilih-hover {
    opacity: 1;
}
.label-pilih-hover {
    transform: translateX(-50%) translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-pilih-riwayat:hover .label-pilih-hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
/* End CSS Button Pilih Data Riwayat */
/* CSS Button Batal Pilih Data Riwayat */
.batal-data {
    position: absolute;
    margin: 0 auto;
    margin-top: -5px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.batal {
    color: #fff;
    background: rgb(214, 47, 47);
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.batal:hover {
    background: rgb(150, 30, 30);
}
.btn-batal-riwayat {
    position: absolute;
	display: flex;
}
.label-batal-hover {
    position: absolute;
    top: 31px;
    left: 27px;
    transform: translateX(-50%);
    margin-top: 6px;
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 999;
}
.btn-batal-riwayat:hover .label-batal-hover {
    opacity: 1;
}
.label-batal-hover {
    transform: translateX(-50%) translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-batal-riwayat:hover .label-batal-hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
/* End CSS Button Batal Pilih Data */
/* CSS Button Pilih Semua Data Riwayat */
.semua-data {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    margin-left: 180px;
    margin-top: -7px;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.semua {
    color: #1f5e8e;
    padding: 4px 5px;
    background: none;
    font-size: 23px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.semua:hover {
    color: #000;
}
.btn-smeua-riwayat {
    position: absolute;
	display: flex;
}
.label-semua-hover {
    position: absolute;
    top: 31px;
    left: 190px;
    transform: translateX(-50%);
    margin-top: 6px;
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 999;
}
.btn-smeua-riwayat:hover .label-semua-hover {
    opacity: 1;
}
.label-semua-hover {
    transform: translateX(-50%) translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-smeua-riwayat:hover .label-semua-hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
/* End CSS Button Pilih Semua Data */
/* CSS Button Kembalikan Data Riwayat */
.kembalikan-data {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: -8px;
    cursor: pointer;
    background: none;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.kembalikan {
    background: none;
    font-size: 23px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.btn-kembalikan-riwayat {
    position: absolute;
	display: flex;
}
.label-kembalikan-hover {
    position: absolute;
    top: 31px;
    left: 140px;
    transform: translateX(-50%);
    margin-top: 6px;
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 999;
}
.btn-kembalikan-riwayat:hover .label-kembalikan-hover {
    opacity: 1;
}
.label-kembalikan-hover {
    transform: translateX(-50%) translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-kembalikan-riwayat:hover .label-kembalikan-hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
/* End CSS Button Kembalikan Data Riwayat */
/* CSS Hapus Data Riwayat */
.hapus-data {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    margin-left: 70px;
    margin-top: -6px;
    cursor: pointer;
    background: none;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.hapus {
    background: none;
    font-size: 19px;
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
.btn-hapus-riwayat {
    position: absolute;
	display: flex;
}
.label-hapus-hover {
    position: absolute;
    top: 31px;
    left: 90px;
    transform: translateX(-50%);
    margin-top: 6px;
    background-color: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 999;
}
.btn-hapus-riwayat:hover .label-hapus-hover {
    opacity: 1;
}
.label-hapus-hover {
    transform: translateX(-50%) translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-hapus-riwayat:hover .label-hapus-hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
/* End CSS Hapus Data Riwayat */
.checkbox-col {
    display: none;
}