.table-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}

.tagihan-striped {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background: #fff;
    color: #000;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.tagihan-striped thead {
    background-color: #2980b9;
    color: #fff;
    text-align: center;
}

.tagihan-striped th,
.tagihan-striped td {
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    border: none;
    vertical-align: middle;
}

.tagihan-striped tbody tr:hover {
    background-color: #eceff3;
    transition: background-color 0.3s ease;
}

.tagihan-striped td:nth-child(1) {
    width: 50px;
}
.tagihan-striped thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}
.tagihan-striped td.nama-tagiihan,
.tagihan-striped td.alamat-tagiihan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    text-align: left;
}